# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
backend/node_modules/
backend/uploads/*
!backend/uploads/default-avatar.png

# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
frontend/.dart_tool/
frontend/build/
frontend/.packages
frontend/.pub-cache/
frontend/.pub/

# Release artifacts
release/

# SQLite
*.sqlite
backend/database.sqlite

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
